.selectLevel {
}

.card {
    width: 80%;
}

.formField {
    width: 100%;
}

.cardTitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.buttonForm {
    margin-top: 20px;
}

.playerTitle {
    margin-top: 20px;
}
